
<h1> Student Form</h1>
<hr>
<div class="col-md-12">
    <form ng-submit="submit()" novalidate>
        <h1>Students</h1>
        <div class="form-group" >
            <label for="studentId"></label>
            <input class="form-control" type="text" id="studentId"
                   placeholder="StudentId" ng-model="student.id">
            <label for="studentName"></label>
            <input class="form-control" type="text" id="studentName"
                   placeholder="Student Name" ng-model="student.name">
            <label for="school"></label>
            <input class="form-control" type="text" id="school"
                   placeholder="School" ng-model="student.school">
            <label for="city"></label>
            <div ng-controller="CityTypeaheadCtrl">
            <input class="form-control" ng-model="student.city" type="text" id="city"
                   uib-typeahead="city for city in cities | filter:$viewValue | limitTo:5"  ></div>
            <br>
            <button class="btn btn-default" ng-click="saveOrUpdateStudent(student)">Add</button>

        </div>

    </form>
    </div>