<a ui-sref="students">Back</a>
<h1> Student Details</h1>
<hr>
{{kk}}
<div >
    <label style="text-decoration: solid">Student id : </label>
    <span style="text-align: left">{{student.id}}</span><br>
    <label style="text-decoration: solid">Student Name : </label>
    <span style="text-align: left">{{student.name}}</span><br>
    <label style="text-decoration: solid">School : </label>
    <span style="text-align: left">{{student.school}}</span><br>
    <label style="text-decoration: solid">City : </label>
    <span style="text-align: left">{{student.city}}</span>
    <label style="text-decoration:solid">Date of Birth:</label>
    <span style="text-align: left">{{student.dob}}</span>

</div>